html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  /* overflow-y: scroll; */
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Inter', sans-serif;
}

.header, .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  padding: 0 0.78vw; /* You may keep padding in pixels or convert it based on vw */
  background: #000;
  height: 5.56vh;
  font-weight: 700;
  line-height: 3.61vh;
  color: #FFFFFF;
  font-size: 2.96vh;
  box-sizing: border-box;
}

.header {
  top: 0;
}

.footer {
  bottom: 0;
}

.headfoot-link-grey, .headfoot-link-grey a {
  color: #9E9E9E;
  text-decoration: none; /* Removes underline from anchor tags */

}

.headfoot-link-active a {
  font-weight: 700;
  line-height: 3.61vh;
  color: #FF0000;
  font-size: 2.96vh;
  text-decoration: none; /* Removes underline from anchor tags */
}

.headfoot-link a {
  font-weight: 700;
  line-height: 3.61vh;
  color: #FFFFFF;
  font-size: 2.96vh;
  text-decoration: none; /* Removes underline from anchor tags */
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
  background: #000;
  padding-top: 5.65vh;
  padding-bottom: 5.65vh;
}

.rows {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  background: #000;

}

.row {
  background-color: #000; /* Example row background color */
  flex: 0 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.central-row {
  height:22.22vh;
  flex-direction: column;
}

.row img {
  width: 33%;
  height: 31.48vh;
  object-fit: cover;
  margin: 0 0.26vw;
}

.row h1 {
  color: white;
  text-align: center;
  font-size: calc(5vw + 5.5vh);
  text-transform: uppercase;
  margin: 0; /* Remove top and bottom margins */
}

.row p {
  color: white;
  font-size:2.96vh;
  text-align: center;
  margin-top: 0; /* Remove top and bottom margins */
}

.menu-container {
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top: 4vh;
}

.menu-item a {
  line-height: 3.61vh; /* 39px */
  color: #717171;
  font-size: 2.96vh; /* 32px */
  font-weight: 700;
  box-sizing: border-box;
  margin: 1.85vh 1.85vw; /* 20px 40px */
  text-decoration: none;
}

.menu-item-active a {
  line-height: 3.61vh; /* 39px */
  color: #ffffff;
  font-size: 2.96vh; /* 32px */
  font-weight: 700;
  box-sizing: border-box;
  margin: 1.85vh 1.85vw; /* 20px 20px */
  text-decoration: none;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: #000;
  border-radius: 0.74vw; /* 8px */
  box-shadow: 0 0.37vh 0.74vh rgba(0, 0, 0, 0.1); /* 0 4px 8px */
  overflow: hidden;
  width: 26.04vw; /* 500px */
  height: 79.35vh; /* 650px */
  margin: 2vh 2vw; /* 20px 40px */
  text-align: left;
  padding-top: 6vh;
}

.card img {
  width: 26.04vw; /* 500px */
  height: 46.29vh; /* 400px */
  margin-bottom: 2vh;
  object-fit: cover;
}

.card-title {
  font-style: normal;
  font-weight: 700;
  font-size: 3.15vh; /* 34px */
  line-height: 3.80vh; /* 41px */
  color: #FFFFFF;
  margin: 1vh 0; /* 5px 0 */
}

.card-genre {
  font-style: normal;
  font-weight: 500;
  font-size: 2.22vh; /* 24px */
  line-height: 2.68vh; /* 29px */
  color: #FC0000;
  margin: 0.46vh 0; /* 5px 0 */
}

.card-description {
  font-style: normal;
  font-weight: 300;
  font-size: 1.85vh; /* 20px */
  line-height: 2.22vh; /* 24px */
  color: #FFFFFF;
  margin: 1vh 0; /* 5px 0 */
}

.card-button {
  width: 100%; /* Makes the button full width */
  height: 5.56vh; /* 60px */
  background-color: transparent; /* Makes the button transparent */
  border: 0.11vw solid white; /* 1px */
  cursor: pointer;
  font-style: normal;
  font-weight: 700;
  font-size: 1.85vh; /* 20px */
  line-height: 2.68vh; /* 29px */
  color: #FFFFFF;
  margin: 1vh 0; /* 5px 0 */
}

.card-button:hover {
  background-color: grey;
}

/* Events table styles */
.container-80 {
  width: 75vw; /* 60% of viewport width */
  margin: 0 auto;
}

.events-table {
  width: 100%;
  border-collapse: collapse;
  margin: 1.85vh 0; /* 20px 0 */
  font-size: 1.85vh; /* 1em */
  min-width: 41.67vw; /* 400px */
}

.events-table th, .events-table td {
  padding: 2vh 1vw; /* 12px 15px */
  text-align: left;
  border-bottom: 0.11vw solid #ddd; /* 1px */
}

.events-table th {
  color: #717171;
}

.events-table tr:hover {
  background-color: #444;
}

.events-table td {
  color: #f5f5f5;
}

.events-table .name {
  font-weight: bold;
}

.link-button {
  display: inline-block;
  padding: 0.46vh 3.12vw; /* 5px 30px */
  margin: 1.85vh 0; /* 20px 0 */
  font-size: 1.85vh; /* 1em */
  color: #f5f5f5;
  text-decoration: none;
  border: 0.11vw solid #f5f5f5; /* 2px */
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.link-button:hover {
  background-color: #f5f5f5;
  color: #333;
  border-color: #333;
}

.link-button:active {
  background-color: #444;
  color: #fff;
  border-color: #fff;
}

.contact-us {
  margin-top: 11.11vh; /* 100px */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2.78vw; /* 40px */
}

.contact-us img {
  height: 55.56vh; /* 600px */
}

.contact-us-text h1 {
  color: white;
  font-size: 11.11vh; /* 120px */
  text-align: left;
  margin-top: 0; /* Remove top and bottom margins */
  margin-bottom: 1.85vh; /* 20px */
}

.contact-us-text p {
  color: white;
  font-size: 2.22vh; /* 24px */
  text-align: left;
  margin: 0; /* Remove top and bottom margins */
}

.contact-us-text .underlined {
  margin-top: 1.85vh; /* 20px */
  font-style: normal;
  font-weight: 300;
  font-size: 2.78vh; /* 30px */
  line-height: 3.33vh; /* 36px */
  text-decoration: underline;
  text-underline-offset: 15%; /* Adjust this value as needed */
  color: white;
}

@media (max-width: 1570px) {
  .row h1 {
    font-size: calc(4.2vw + 5.5vh);
  }
  .row p {
    color: white;
    font-size: 2.7vh;
  }
  .contact-us h1 {
    font-size:8vh;
  }
  .contact-us-text p {
    font-size: 1.8vh; /* 24px */
   }
  .contact-us img {
    height: 40vh; /* 600px */
  }
}

@media (max-width: 1200px) {
  .row h1 {
    font-size: calc(3vw + 5.5vh);
  }
  .row p {
    color: white;
    font-size: 2.5vh;
  }
  .contact-us {
    flex-direction: column; /* stack the content vertically */
    align-items: center; /* center the items */
  }
}

@media (max-width: 950px) {
  .row h1 {
    font-size: calc(2vw + 5.4vh);
  }
  .row p {
    color: white;
    font-size: 2.2vh;
  }
  .hide-on-mobile {
    display: none;
  }
  .card {
    width: 80vw;
    height: 160vh;
  }

  .card img {
    width: 80vw;
    height: 46.29vh;
  }

  .row img {
    width: 50%;
  }
}

@media (max-width: 800px) {
  .row h1 {
    font-size: calc(2vw + 4vh);
  }
  .row p {
    color: white;
    font-size: 2vh;
  }
  .contact-us img {
    height: 30vh; /* 600px */
  }
}

@media (max-width: 590px) {
  .row h1 {
    font-size: calc(2vw + 3vh);
  }
  .row p {
    color: white;
    font-size: 1.5vh;
  }
  .hide-on-mobile-small {
    display: none;
  }
  .row img {
    width: 100%;
  }

  .header, .footer {
    height: 6vh;
  }

  .headfoot-link-active a {
    font-size: 2.7vh;
  }

  .headfoot-link a {
    font-size: 2.7vh;
  }

  .menu-item a {
    font-size: 2.2vh;
  }

  .menu-item-active a {
    font-size: 2.2vh;
  }
}

@media (max-width: 440px) {
  .row h1 {
    font-size: calc(3.5vw + 2vh);
  }

  .headfoot-link-active a {
    font-size: 2.5vh;
  }

  .headfoot-link a {
    font-size: 2.5vh;
  }

  .menu-item a {
    font-size: 2vh;
  }

  .menu-item-active a {
    font-size: 2vh;
  }
}

@media (max-aspect-ratio: 9/16) {
  .row h1 {
    font-size: calc(3.5vw + 2vh);
  }

  .row p {
    color: white;
    font-size: 1.5vh;
  }

  .headfoot-link-active a {
    font-size: 2.3vh;
  }

  .headfoot-link a {
    font-size: 2.3vh;
  }

  .header, .footer {
    font-size: 2.3vh;
  }

  .hide-on-mobile {
    display: none;
  }

  .hide-on-mobile-small {
    display: none;
  }

  .card {
    width: 80vw;
    height: 160vh;
  }

  .card img {
    width: 80vw;
    height: 46.29vh;
  }

  .row img {
    width: 50%;
  }

  .menu-item a {
    font-size: 2.6vh;
  }

  .menu-item-active a {
    font-size: 2.6vh;
  }

  .events-table {
    width: 100%;
    font-size: 1.2vh;
    min-width: 41.67vw;
  }

  .events-table th, .events-table td {
    text-align: left;
  }

  .link-button {
    display: inline-block;
    padding: 1vw;
    margin: 1.85vh 0;
    font-size: 1.2vh;
    color: #f5f5f5;
    text-decoration: none;
    border: 0.11vw solid #f5f5f5;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  }
}
